@font-face{
    font-family: "Lexend";
    src: url(../font/LexendDeca-Regular.ttf);
}

html{
    height:100%

}
:root {
    --base-background: #0c1322;
    --canvas-background: rgba(0,0,0,0);
    --main-bg-color: #1f1d38;
    --sec-bg-color: #6366f1;
    --main-fg-color: #6366f1 ;
    --sec-fg-color: #34d399;

}

body
{
    background-color: rgba(0,0,0,0);
    background: rgba(0,0,0,0);
    background-opacity: 0;
    font-family: 'Lexend';
    color: var(--sec-fg-color);
    overscroll-behavior: none;
    overscroll-behavior-y: contain;
    -webkit-box-sizing: border-box; /* Safari, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width: 100%;

    margin: 0 -3px 0 0;
    overflow-x: hidden;
    height: 100vh;
    max-width: 100%;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust:none;
    -moz-text-size-adjust:none;
    -ms-text-size-adjust:none;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    overflow: hidden;

    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}



.base{
    position:fixed;
    width: 100%;
    height: 100%;
    background:var(--base-background);
    z-index: -2;
}

.background-rect{

    background:var(--canvas-background);
    z-index: 0;
    opacity: 0;
}


.gradientlayer{
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: 100%;

    background-image: url(assets/dark-gradient.svg);
    backdrop-filter: blur(20px);

}

.gradientlayer-generative{
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    background:
            radial-gradient(circle at 82.7% -76%,
            rgb(206 0 255 / 53%), rgba(255,0,0,0) 70.71%),

            radial-gradient(circle at 18.3% -75%,
            rgb(0 241 255), rgba(255,0,0,0) 70.71%),

            radial-gradient(circle at 41.7% 110%,
            rgb(0 37 107 / 61%), rgba(0,0,255,0) 70.71%),

            radial-gradient(circle at 93.3% 75%,
            rgb(0 255 0 / 0%), rgba(0,255,0,0) 70.71%)
}


a {
    color: var(--main-fg-color);
}

@media (orientation: landscape) {
    body svg{
        width: 100%;
        height: auto;
    }
}

@media (orientation: portrait) {
    body svg{
        width: auto;
        height: 100%;
    }
}

/*   The main buttons in the corner */
.main_button {
    text-align: center;
    padding: 10px;
}
.main_button:hover{}
.img_logo {
    position: absolute;
    fill: var(--sec-bg-color);
}
.logo_text {
    position: absolute;
    top: 0;
    left: 0;
}
.logo_text a {
    text-decoration: none;
    color: var(--sec-fg-color);
}

#help {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 36px;
    width: 65px;
    height: 65px;
}

#account {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    width: 70px;
    height: 65px;
}
#account .logo_text {
    position: absolute;
    top: 0;
    left: 20px;
}

.app .notification {
    margin-bottom: -2rem;
    margin-top: 1rem;
    text-align: center;
}

.app .start {
    padding-top: 7rem;
    text-align: center;
}

.app .start h2 {
    font-size: 1.5rem;
    margin: 1rem 0 2rem;
}

.app .start h3.name {
    border: var(--sec-fg-color) 1px solid;
    display: inline-block;
    font-size: 1.5rem;
    margin: -3rem 0 4rem;
    padding: 10px;
    width: auto;
}

.app .start p.welcome {
    font-style: italic;
    margin: 3rem 10rem -1rem;
}

.app .start p.identity {
    margin: 3rem 0 -1rem;
}

.app .start p.links {
    margin-top: 3rem;
}

.app .app-footer {
    padding-bottom: 1rem;
}
.app .app-footer .admin_nav {
    border-top: 2px solid var(--sec-bg-color);
    margin-top: 3rem;
    padding-top: 1rem;
}
.app .app-footer .admin_nav ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 1rem;
}
.app .app-footer .admin_nav ul li {
    display: inline;
    margin-right: 1rem;
}

#login {
    margin-top: 10rem;
}
.help-block {
    color: var(--main-fg-color);
}

.jumbotron {
    background-color: transparent;
    padding: 2rem 0;
}
