{% extends '@layout/default.html.twig' %}

{% block title %}cooArchi{% endblock %}

{% block content %}

    <div class="row start">
        <div class="col-md-12">
            <div class="cooarchi">
                <h1>cooArchi</h1>
                <h2>community oriented archiving interface</h2>
            </div>
            <p>
                wir schreibt Geschichte
            </p>
            <p class="links">
                <a href="{{ path('login') }}">enter</a> | {% if identity is not empty %}<a href="{{ path('logout') }}">logout</a>{% else %}<a href="{{ path('login') }}">login</a>{% endif %}
            </p>
        </div>
    </div>

{% endblock %}
