{% extends '@layout/default.html.twig' %}

{% block title %}cooArchi{% endblock %}

{% block content %}

    <div class="row start">
        <div class="col-md-12">
            <!-- <h1></h1> -->
            <div class="cooarchi">
                <h2>cooArchi</h2>
                <h3>community oriented archiving interface</h3>
            </div>
            <p>
                wir schreibt Geschichte
            </p>
            <p><a href="/enter">enter</a></p>
        </div>
    </div>

{% endblock %}
